<!-- Footer  -->

<footer>
    <div class="footer-bg">
        <div class="footer-content row mt-5">
            <div class="col-3 d-flex mt-2 logo-div">
                <img src="\assets\Logo.svg" class="footer-logo">
                <p class="footer-logo-text mt-2 mx-2">Whisper<span>Tube</span></p>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <div> <!-- search -->
                    <nav class="searchbar p-2">
                        <form class="form-inline d-flex ">
                            <input class="search-txt" type="search"
                                placeholder="Stay in the loop  - sign up with your email">
                            <button class="btn searchbtn">Search</button>
                        </form>
                    </nav>
                </div>
                <div class="footer-tags"> <!-- footer-nav -->
                    <div class="top-row">
                        <div class="col-3 footer-col my-lg-5 my-md-3 my-sm-3 my-2">
                            <h4>About</h4>
                            <span class="my-2"><a href="#" class="footer-links">About</a></span>
                            <span class="my-2"><a href="#" class="footer-links">Features</a></span>
                            <span class="my-2"><a href="#" class="footer-links">Works</a></span>
                            <span class="my-2"><a href="#" class="footer-links">Career</a></span>
                        </div>
                        <div class="col-3 footer-col my-lg-5 my-md-3 my-sm-3 my-2">
                            <span class="mb-2 mt-5"><a href="#" class="footer-links">Contact</a></span>
                            <span class="my-2"><a href="#" class="footer-links">Help & Support</a></span>
                            <span class="my-2"><a href="#" class="footer-links">Privacy Policy</a></span>
                            <span class="mt-2"><a href="#" class="footer-links">Terms & Conditions</a></span>
                        </div>
                    </div>
                    <div class="bottom-row">
                        <div class="col-3 footer-col my-lg-5 my-md-3 my-sm-3 my-2 footer-end-col-upper">
                            <h4>Connect</h4>
                            <span class="my-2"><a href="#" class="footer-links">Landing Page</a></span>
                            <span class="my-2"><a href="#" class="footer-links">Alpha Dashboard Pro</a></span>
                            <span class="my-2"><a href="#" class="footer-links">Dashboard</a></span>
                        </div>
                        <div
                            class="col-3 d-flex align-items-center justify-content-center flex-column footer-end-col my-lg-5 my-md-3 my-sm-2 my-2">
                            <span><img src="/assets/footer-Line-icon.svg" class="footerlineicon mx-1">Let's
                                connect with us:</span>
                            <div class="d-flex my-2 footer-icons">
                                <a href="#"><img src="\assets\facebook.svg" class="mx-1"></a>
                                <a href="#"><img src="\assets\twitter.svg" class="mx-1"></a>
                                <a href="#"><img src="\assets\linkedin.svg" class="mx-1"></a>
                                <a href="#"><img src="\assets\instagram.svg" class="mx-1"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>