.wraper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.summary-div-wraper {
  width: 80%;
  height: auto;
}

.heading span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.btn-wraper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-btn {
  width: 100%;
  height: auto;
  border-radius: 6px;
  background: #9f06ff;
  display: flex;
}

.summary-btn span {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-feild {
  width: 100%;
}

.form-feild mat-label {
  color: #545454;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.submit-btn {
  width: 100%;
  height: auto;
  border-radius: 6px;
  background: #9f06ff;
  display: flex;
}

.submit-btn span {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.txt-wraper {
  height: auto;
  border: #cacaca solid 1px;
  border-radius: 5px;
}

.txt-wraper p {
  color: #545454;
  text-align: justify;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 200%; /* 44px */
}

.re-render-div {
  display: none;
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.re-render-drpdwn {
  width: 100%;
}

.re-render-drpdwn .dropdown {
  width: 100%;
}

.card-dropdown a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background: #f4f4f4;
}

.common-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .summary-div-wraper {
    width: 90%;
  }
  .heading {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .heading span {
    font-size: 26px;
  }
  .common-btn span {
    font-size: 16px;
  }
  .form-feild-wraper {
    flex-direction: column;
  }
  .form-feild-div {
    width: 100%;
  }
  .txt-wraper {
    width: 100%;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
}

@media (max-width: 500px) {
  .submit-btn {
    width: 30%;
    border-radius: 30px;
    margin-top: 20px;
  }
  .submit-btn span {
    font-size: 10px;
  }
  .re-render-div {
    display: flex;
  }
}
