<div class="wraper">
    <div class="summary-div-wraper">
        <section>
            <!-- Summary Section -->
            <div class="heading d-flex justify-content-center my-5">
                <span>Summary</span>
            </div>
            <div class="btn-wraper">
                <div class="summary-btn d-flex justify-content-center align-items-center">
                    <span class="my-2">Summary</span>
                </div>
            </div>
            <div class="row form-feild-wraper">
                <div class="col-6 my-5 form-feild-div">
                    <mat-form-field class="form-feild">
                        <mat-label>Minimum Length</mat-label>
                        <input matInput placeholder="00:27:16" />
                    </mat-form-field>
                    <mat-form-field class="form-feild">
                        <mat-label>Minimum Length</mat-label>
                        <input matInput placeholder="03:27:16" />
                    </mat-form-field>
                    <mat-form-field class="form-feild">
                        <mat-label>Summary Type</mat-label>
                        <input matInput placeholder="Bullet Point" />
                    </mat-form-field>
                    <mat-form-field class="form-feild">
                        <mat-label>Target Person Type</mat-label>
                        <input matInput placeholder="Student" />
                    </mat-form-field>
                    <mat-form-field class="form-feild">
                        <mat-label>Summary Method</mat-label>
                        <input matInput placeholder="Chapter-wise Summary" />
                    </mat-form-field>
                    <mat-form-field class="form-feild">
                        <mat-label>Writing Style</mat-label>
                        <input matInput placeholder="Jane Austen" />
                    </mat-form-field>
                    <div class="btn-wraper">
                        <div class="submit-btn d-flex justify-content-center align-items-center"
                            style="background: linear-gradient(44deg, #cd10ff 15.75%, #9f06ff 84.63%);">
                            <span class="my-2">Submit</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 txt-wraper my-5 p-3">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                        ipsa earum voluptatem modi? Illo eligendi, fugit reprehenderit
                        perspiciatis ut veniam reiciendis quo quae molestiae aut repellendus
                        eius. Recusandae, minima eos. Quos nobis minus ut dolorem? Quos
                        voluptate possimus molestias placeat delectus ipsa eligendi
                        consectetur repellat assumenda alias. Repudiandae perferendis
                        voluptatem cum, totam natus illum nam minus ullam autem eos magni?
                        Nulla corporis blanditiis accusantium! Dolore beatae explicabo ex
                        omnis nihil, ad ullam officiis alias delectus fugiat molestias ipsa
                        vel. Incidunt sequi eaque, officia minima natus dolorem modi itaque
                        quae dolor.Nulla corporis blanditiis accusantium! Dolore beatae
                        explicabo ex omnis nihil, ad ullam officiis alias delectus fugiat
                        molestias ipsa vel. Incidunt sequi eaque, officia minima natus
                        dolorem modi itaque quae dolor.delectus fugiat molestias ipsa vel.
                        Incidunt sequi eaque, officia minima natus dolorem modi itaque quae
                        dolor.
                    </p>
                </div>
                <div class="re-render-div flex-column">
                    <div class="re-render-drpdwn">
                        <div class="col-4 dropdown">
                            <div class="dropdown show d-flex align-items-center justify-content-center card-dropdown">
                                <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Resolution
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 dropdown my-2">
                            <div class="dropdown show d-flex align-items-center justify-content-center card-dropdown">
                                <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Format
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="btn-wraper">
                            <div class="submit-btn d-flex justify-content-center align-items-center"
                                style="background: linear-gradient(44deg, #cd10ff 15.75%, #9f06ff 84.63%);">
                                <span class="my-2">Video Re-render</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <!-- Mind Map Section -->
            <div class="heading d-flex justify-content-center my-5">
                <span>Mind Map</span>
            </div>
            <div class="common-img mb-5">
                <img src="\assets\mindmap.png" />
            </div>
        </section>
        <section>
            <!-- Word Map Section -->
            <div class="heading d-flex justify-content-center my-5">
                <span>Word Map</span>
            </div>
            <div class="common-img mb-5">
                <img src="\assets\worldmap.png" />
            </div>
        </section>
    </div>
</div>

<!-- <section class="d-flex justify-content-center">
    <div class="summary-div-wraper">
        <div class="heading d-flex justify-content-center my-3 my-sm-3 my-md-4 my-lg-5">
            <span>Audio Book Generation</span>
        </div>
        <div class="row mt-3 my-sm-3 my-md-4 my-lg-5 dropdown-grp">
            <div class="col-4 dropdown">
                <div class="dropdown show d-flex align-items-center justify-content-center card-dropdown">
                    <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="col-4 dropdown">
                <div class="dropdown show d-flex align-items-center justify-content-center card-dropdown">
                    <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="col-4 dropdown">

                <div class="dropdown show d-flex align-items-center justify-content-center card-dropdown">
                    <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gender-select row my-4">
            <div class="col-6 d-flex justify-content-end gender-select-txt align-items-center px-2">
                <span>Select Gender</span>
            </div>
            <div class="col-6 d-flex justify-content-start align-items-center gender-select-rbtns">
                <mat-radio-group aria-label="Select an option" class="px-4">
                    <mat-radio-button value="1">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="slidermenu-actionbtn my-2 my-sm-2 my-lg-3">
            <a class="GetStarted">
                Submit
            </a>
        </div>
        <div class="audio-bar-div row d-flex flex-row my-5">
            <div class="col-10 d-flex align-items-center audio-bar">
                <audio controls class="audio-bar-controller">
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div class="audio-bar-icon mx-4">
                    <img src="\assets\repeaticon.svg">
                </div>
                <div class="audio-bar-icon ">
                    <img src="\assets\playbackspeedicon.svg">
                </div>
            </div>
            <div class="d-flex flex-row col-2 align-items-center audio-bar-btn">
                <div class="d-flex align-items-center">
                    <div class="slidermenu-actionbtn my-3">
                        <a class="GetStarted">
                            Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="txt-wraper my-5 p-3">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsa earum voluptatem modi? Illo
                eligendi, fugit reprehenderit perspiciatis ut veniam reiciendis quo quae molestiae aut repellendus eius.
                Recusandae, minima eos.
                Quos nobis minus ut dolorem? Quos voluptate possimus molestias placeat delectus ipsa eligendi
                consectetur repellat assumenda alias. Repudiandae perferendis voluptatem cum, totam natus illum nam
                minus ullam autem eos magni?
                Nulla corporis blanditiis accusantium! Dolore beatae explicabo ex omnis nihil, ad ullam officiis alias
                delectus fugiat molestias ipsa vel. Incidunt sequi eaque, officia minima natus dolorem modi itaque quae
                dolor.
                Corporis molestias laborum natus blanditiis vel culpa numquam, quos impedit beatae nostrum repudiandae
                aspernatur suscipit. Ratione temporibus a obcaecati nisi quasi natus ipsa impedit cum qui? Praesentium
                doloribus quos odit?
                Eius error dolore ipsam dicta quidem illum nesciunt, blanditiis optio aperiam similique aut alias
                tempora nostrum reiciendis voluptates velit porro totam tenetur sunt? Rem amet voluptatum animi, tempore
                incidunt quisquam?
                Fugiat sit, mollitia unde corporis ipsam, in laborum a, labore perferendis libero minima recusandae?
                Sequi, ipsum odit quisquam quas blanditiis pariatur quae voluptas delectus rerum adipisci eaque
                consequatur ratione distinctio!
                Quaerat sequi rem ipsa rerum asperiores harum, et in dolorem ipsam voluptatem eveniet aliquam sit nemo
                autem distinctio sapiente itaque possimus unde esse vel placeat repudiandae! Iusto ad placeat fugit?
                Ipsam saepe ea illo error nemo molestias asperiores doloremque? Laudantium eveniet saepe officia aut
                assumenda, quam ex recusandae perferendis fugit nobis, quasi dolore praesentium, autem eius ullam eos
                enim nesciunt?
                Repudiandae iure soluta quos optio molestias voluptate culpa ducimus aliquid repellat non repellendus
                debitis ipsum architecto atque ex quaerat, vero ratione adipisci nulla earum iste perferendis a
                provident. Ab, optio.
                Earum voluptatem placeat, neque et sed recusandae illo eos, incidunt perspiciatis delectus odit? Laborum
                eum fugit nam nemo exercitationem illo molestiae pariatur maiores, amet inventore? Laboriosam expedita
                iure esse deserunt.
            </p>
        </div>
    </div>
</section> -->