<div class="top-wrapper">
    <div class="heading">
        <h1 class="mt-5">Video Highlight is the fastest way to <span>summarize</span> and
            <span>take notes</span> from videos.
        </h1>
        <div class="new-project-btn my-lg-4 my-md-4 my-sm-3">
            <a href="#"><img src="/assets/add.svg" class="add-btn-icon mx-2"><span>Create a New
                    Project</span></a>
        </div>
        <div class="my-4 mb-5 col-12"> <!-- search -->
            <nav class="searchbar p-2">
                <form class="form-inline d-flex ">
                    <input class="search-txt" type="search" placeholder="Enter URL to import a file">
                    <button class="btn searchbtn">Search</button>
                </form>
            </nav>
        </div>
    </div>
</div>