.top-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.heading h1 span {
  color: #9f06ff;
}

.new-project-btn {
  width: 255px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 100px;
  background: linear-gradient(44deg, #cd10ff 15.75%, #9f06ff 84.63%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-project-btn a {
  text-decoration: none;
}

.add-btn-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #fff;
}

.new-project-btn span {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.searchbar {
  border-radius: 10px;
  background: #f4f4f4;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.search-txt {
  width: 100%;
  padding-left: 18px;
  border: none;
  background: #f4f4f4;
  color: #4f596a;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.searchbtn {
  height: auto;
  width: 130px;
  border-radius: 5px;
  background: linear-gradient(44deg, #cd10ff 15.75%, #9f06ff 84.63%);
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 500px) {
  .heading {
    width: 90%;
  }
  .heading h1 {
    font-size: 22px !important;
  }
  .new-project-btn {
    width: 175px;
    height: 40px;
  }
  .add-btn-icon {
    width: 16px;
    height: 16px;
  }

  .new-project-btn span {
    font-size: 12px;
  }
}
