<section class="d-flex justify-content-center">
    <div class="wraper">
        <div class="heading d-flex justify-content-center my-5">
            <span>Video Re-render</span>
        </div>
        <div class="row content my-5">
            <div class="col-7 video-wraper">
                <div class="col-12 videodiv">
                    <div class="video">
                        <video src="" controls class="video-screen"></video>
                    </div>
                </div>
            </div>
            <div class="col-5 txt-wraper">
                <mat-card class="bottom-cards">
                    <div class="bottom-cards-top">
                        <div class="col-6 bottom-cards-header">
                            <span class="bottom-cards-text mx-2">Subtitles</span>
                        </div>
                        <div class="col-6 bottom-cards-img">
                            <div class="show d-flex align-items-center " id="card-drpdwn">
                                <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Original Subtitle
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <img src="\assets\downloadicon.svg" class="m-2">
                        </div>
                    </div>
                    <div class="bottom-cards-content my-3 mx-2">
                        <pre>
    timestamp '0:07', text: 'This is the start of the video'
    timestamp '0:04', text: 'This is the start of the video'
    timestamp '0:01', text: 'This is the start of the video'
    timestamp '0:11', text: 'This is the start of the video'
    timestamp '0:18', text: 'This is the start of the video'
    timestamp '0:20', text: 'This is the start of the video'
    timestamp '0:26', text: 'This is the start of the video'
    timestamp '0:28', text: 'This is the start of the video'
    timestamp '0:29', text: 'This is the start of the video'
    timestamp '0:36', text: 'This is the start of the video'
    timestamp '0:39', text: 'This is the start of the video'
    timestamp '0:44', text: 'This is the start of the video'
    timestamp '0:49', text: 'This is the start of the video'
    timestamp '0:55', text: 'This is the start of the video'
    timestamp '0:57', text: 'This is the start of the video'
    timestamp '0:59', text: 'This is the start of the video'
    timestamp '1:06', text: 'This is the start of the video'
    timestamp '1:06', text: 'This is the start of the video'
    timestamp '1:06', text: 'This is the start of the video'
    timestamp '1:06', text: 'This is the start of the video'
    timestamp '1:06', text: 'This is the start of the video'
                        </pre>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row px-5 my-5 drpdwn-div">
            <div class="dropdown col-4">
                <div class="show d-flex align-items-center justify-content-center card-dropdown">
                    <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resolution
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="dropdown col-4">
                <div class="show d-flex align-items-center justify-content-center card-dropdown">
                    <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Format
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="slidermenu-actionbtn col-4">
                <a class="GetStarted">
                    Submit
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-5">
            <div class="progress d-flex flex-column justify-content-center my-3">
                <mat-progress-bar mode="determinate" value="76" class="my-2"></mat-progress-bar>
                <span>76% completed</span>
            </div>
            <div class="Download-btn">
                <a class="GetStarted px-4">
                    Download
                </a>
            </div>
        </div>
    </div>
</section>