<div class="sidenav">
    <div class="sidenav-elements">
        <mat-card class="sidenav-elements-cards my-2 mx-2 mx-sm-3 mx-lg-0" routerLink="/summaray">
            <div class="sidenav-cards">
                <img src="\assets\sidenav-card1.svg" alt="card" class="my-1">
                <div class="cardtext">
                    <span>Download Media</span>
                </div>
            </div>
        </mat-card>
        <mat-card class="sidenav-elements-cards my-2 mx-2 mx-sm-3 mx-lg-0" routerLink="/subtitles">
            <div class="sidenav-cards">
                <img src="\assets\sidenav-card2.svg" alt="card" class="my-1">
                <div class="cardtext">
                    <span>Translation</span>
                </div>
            </div>
        </mat-card>
        <mat-card class="sidenav-elements-cards my-2 mx-2 mx-sm-3 mx-lg-0" routerLink="/audiobook">
            <div class="sidenav-cards">
                <img src="\assets\sidenav-card3.svg" alt="card" class="my-1">
                <div class="cardtext">
                    <span>Audio Generation</span>
                </div>
            </div>
        </mat-card>
        <mat-card class="sidenav-elements-cards my-2 mx-2 mx-sm-3 mx-lg-0" routerLink="/render">
            <div class="sidenav-cards">
                <img src="\assets\sidenav-card4.svg" alt="card" class="my-1">
                <div class="cardtext my-1">
                    <span>Video Re-render</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>